//  It's wierd that reference blend.css in *.html doesn't work,
//  so I have to hardcode the css code in *.html.
#example {
  width: 401px;
  height: 302px;
  background-repeat: no-repeat;
  background-image:
  url("../project/hair/hair__-_.png"),
  url("../project/brow/brow__-_.png"),
  url("../project/eye/eye__-_.png"),
  url("../project/nose/nose__-_.png"),
  url("../project/mouth/mouth__-_.png"),
  url("../project/face/face__-_.png");
  background-blend-mode: multiply;
}
